html {
    height: 100%;
}

body {
    background-color: hsl(240, 78%, 98%);
    font-size: 15px;
    font-weight: 700;
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: top right, bottom left;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    color: hsl(232, 13%, 33%);
    gap: 20px;
}

.main-child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.child {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    width: 300px;
    height: 350px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 20px;
}

#child-2 {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    height: 400px;
    color: hsl(240, 78%, 98%);
}

.child:hover {
    height: 385px;
    width: 325px;
}

.button {
    margin-top: 7%;
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border-color: hsl(236, 72%, 79%);
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: rgb(246, 246, 254);
    cursor: pointer;
    font-weight: 700;
}

.button:hover {
    height: 40px;
    width: 80%;
    border-radius: 5px;
    background-image: linear-gradient(white, white);
    color: hsl(237, 63%, 60%);
}

#child-2>.button {
    background-image: linear-gradient(white, white);
    color: hsl(237, 63%, 60%);
}

#child-2>.button:hover {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: hsl(240, 78%, 98%);
    border-color: hsl(240, 78%, 98%);
}

.header {
    font-size: 30px;
    font-family: "Montserrat";
    color: hsl(233, 13%, 49%);
}

.annually,
.monthly {
    font-size: 15px;
    color: hsl(234, 14%, 74%)
}

.child>p {
    font-family: "Montserrat";
    display: inline;
    color: hsl(210, 13%, 43%);
}

#child-2>p {
    font-family: "Montserrat";
    display: inline;
    color: hsl(240, 78%, 98%);
}

p {
    display: inline;
    margin-top: 0.6em;
    margin-bottom: 0.0em;
}

.dollar-sign {
    font-family: "Montserrat";
    font-size: 25px;
    vertical-align: 10%;
    color: hsl(232, 13%, 33%);
}

.dollar-sign2 {
    font-family: "Montserrat";
    font-size: 25px;
    vertical-align: 10%;
    color: hsl(240, 78%, 98%);
}

.price {
    font-family: "Montserrat";
    font-size: 40px;
    color: hsl(232, 13%, 33%);
}

#price-2 {
    font-family: "Montserrat";
    font-size: 40px;
    color: hsl(240, 78%, 98%);
}

hr {
    width: 80%;
    color: hsl(233, 13%, 49%);
}

.spacing {
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 700;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(236, 72%, 79%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: hsl(236, 72%, 79%);
}

input:focus+.slider {
    box-shadow: 0 0 1px hsl(236, 72%, 79%);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle {
    display: flex;
    align-items: center;
    gap: 20px;
}